/* the top navigator */
/* ---------------------------------------------------------------- */
.topnav {
    background-color: #D1E7EA;
    height: 45px;
    overflow: hidden;
}
.topnav div {
    display: inline-block;
}
.topnav-left {
    /* align on the left */
    float: left;
    padding-left: 30px;
    /* in the middle */
    line-height: 45px;
    display: inline-block;
}
.topnav-right {
    /* align on the right */
    float: right;
    padding-right: 30px;
    line-height: 45px;
    display: inline-block;
}
.topnav-left button {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.topnav-right button {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.topnav button {
    border-radius: 20%;
    background-color: #D1E7EA;
    border: none;
    /* margin-top: 7.5px; */
    position: relative;
    top: 7.5px;
    -webkit-transition:  all .4s;
}
.topnav button:hover {
    /* background-color: #B3D4E0; */
    background-color: rgba(255, 255, 255, 0.5);
}
.topnav-left .icon {
    /* vertical-align: middle; */
    margin-left: -4px;
}
.topnav-left>div>input {
    height: 25px;
}
.topnav-right .icon {
    /* vertical-align: middle; */
    margin-left: -4px;
}
.topnav-right>svg {
    margin-right: 5px;
}
#saying {
    width: 200px; 
    line-height: 30px;  
    color: rgb(110, 131, 150); 
    background-color: rgba(255, 255, 255, 0.5); 
    vertical-align: middle; 
    border-radius: 10px; 
    text-align: center;
}
#numOfCompleted {
    color: #395B64;
}
#numOfCompleted-icon {
    position: relative;
    top: 7.5px;
}
/* ---------------------------------------------------------------- */

/* the side bar */
/* ---------------------------------------------------------------- */
.below {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    flex-direction: row;
}
#sidebar {
    width: 250px;
    height: calc(100vh - 45px);
    background-color: #f7f7f7;
    transition: all 0.5s;
    padding-top: 40px;
    /* go to left */
    position: fixed;
    left: 0px;
    z-index: 1;
}




#mainContent {
    /* width: 100%; */
    margin-left: 250px;
    width: calc(100% - 250px);
    height: calc(100vh - 45px);
    background-color: rgba(255, 166, 0, 0.42);
    transition: all 0.5s;
}