ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg:hover {
    cursor: pointer;
}

#today-mainContent {
    width: 75%;
    transition: all .5s;
}

#status-dock {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px
}

#today-task-list {
    padding-left: 10px;
}

.description {
    padding-left: 40px;
    font-size: 12px;
}

