<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/bootstrap@3.4.1.min.css">
    <link rel="stylesheet" href="../static/style/login-signup.css">
    <script src="../static/jquery/jquery-3.6.1.min.js"></script>
    <script src="../static/script/login.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>MyTodos-Login</title>
</head>
<body>
<div id="bigBlock" class="row">
    <!-- the login form -->
    <form>
        <!-- the email input -->
        <div class="form-group">
            <label for="email" style="margin-bottom: 10px;">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Please input your email.">
        </div>
        <!-- the password input -->
        <div class="form-group" style="margin-top: 0px;">
            <label for="password" style="margin-bottom: 10px;">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Please input your password.">
        </div>
        <!-- the submit button -->
        <button type="button" id="login-submit" class="btn btn-primary" style="width: 100%">Submit</button>
        <!-- the register link -->
        <a href = {{ url_for('user.signup') }}>Does not have an account? Sign up. -></a>
    </form>
</div>
</body>
</html>