<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today</title>
    <link rel="stylesheet" href="../static/bootstrap/bootstrap@3.4.1.min.css">
    <link rel="stylesheet" href="../static/style/today.css">
</head>
<body>
    <div class="container-fluid topnav">
        <span class="topnav-left">
            <span>sdf</span>
            <span>sdf</span>
            <span>sdf</span>
        </span>
        <span class="topnav-right">
            <span>sdf</span>
            <span>sdf</span>
            <span>sdf</span>
        </span>
    </div>
</body>
</html>